<!DOCTYPE html>
<html lang="en">
	<%- include('../includes/head.ejs') %>
	<body>
		<%- include('../includes/header.ejs') %>

		<main>
			<% if (cart.length > 0) { %>
			<ul class="cart__item-list">
				<% cart.forEach((product) => {%>
				<li class="cart__item">
					<h1><%= product.title %></h1>
					<h2>Quantity: <%= product.quantity %></h2>
					<form action="/delete-cart-item" method="POST">
						<input type="hidden" name="itemId" value="<%= product.id %>" />
						<button class="btn danger" type="submit">Delete</button>
					</form>
				</li>
				<% }) %>
			</ul>
			<h1>Total Price: <%= totalPrice %></h1>
			<% } else { %>
			<h1>No Products in Cart!</h1>
			<% } %>
		</main>
	</body>
</html>
